body {
  background: lightgrey;
}

#logo {
  height: 100px;
  vertical-align: middle;
}

ul {
  display: inline;
  list-style: none;
}

li {
  display: inline;
  cursor: pointer;
  border: 1px solid black;
  padding: 20px;
  margin-left: -5px;
}

a {
  text-decoration: none;
}

li:hover {
  background: #fff;
}

.banner-container {
    width: 100%;  /* i'm assuming full width */
    height: 400px; /* change it to desired width */

}
.banner {
    width: 100%;  /* i'm assuming full width */
    height: 400px; /* change it to desired width */

}

.header-container {
    width: 100%;  /* i'm assuming full width */
    height: 400px; /* change it to desired width */
    align-content: center;
}

.header-text {
  color: blue;
  text-align: center;
}

.paragraph {
    text-align: center;
    color: black;
}

.footer-container{
    width: 100%;  /* i'm assuming full width */
    height: 50px; /* change it to desired width */
    align-content: center;
    background-color: black;
}
.footer-text{
  color: white;
  text-align: center;

}
.active {
  color: red;
}